<div class="devise-login-form">
  <h2>会員登録</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <table>
      <tr>
        <th><%= f.label :email, "メールアドレス" %></th>
        <td><%= f.email_field :email, autofocus: true, size: 50 %></td>
      </tr>
      <tr>
        <th><%= f.label :username, "ユーザーネーム" %></th>
        <td><%= f.text_field :username, size: 50 %></td>
      </tr>
      <tr>
        <th><%= f.label :password, "パスワード" %></th>
        <% if @minimum_password_length %>
        <% end %>
        <td><%= f.password_field :password, autocomplete: "off", size: 50 %></td>
      </tr>
      <tr>
        <th><%= f.label :password_confirmation, "パスワード確認" %></th>
        <td><%= f.password_field :password_confirmation, autocomplete: "off", size: 50 %></td>
      </tr>
    </table>
    <div class="devise-login-submit">
      <%= f.submit "会員登録" %>
    </div>
  <% end %>
</div>
