<%= current_user.username %>さんが作ったまとめ記事です<br><br>

<% @user.articles.each do |article| %>
    <%=image_tag article.image.thumb %>
  <h1><%= article.title %></h1>
    <%= article.description %> <br>
    <%= article.content %> <br><br>
<% end %>
